body {
    margin: 0;
    background-color: var(--bg-color);
    --text-color: white;
    --bg-color: #242526;
    --fill-color: #b0b3b8;
    --bg-input: #3a393c;
    --line-color: #393a3b;
}

* {
    font-size: 15px;
}

.header {
    height: 57px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--line-color);
}

.header__left,
.header__right,
.header__center {
    display: flex;
    align-items: center;
}

.header__left {
    padding-right: 0px !important;
}

.header__center {
    justify-content: flex-start;
    padding-left: 34px !important;
    padding-right: 30px !important;
}

.header__center__menu {
    padding-top: 10px;
    width: 119.59px;
    text-align: center;
    height: 38px;
    cursor: pointer;
}

.header__center__menu:hover {
    background-color: var(--bg-input);
    border-radius: 9px;
}

.header__right {
    background-color: aquamarine;
}

.logo__img {
    width: 40px;
    height: 40px;
}

.header .row {
    height: 100%;
    justify-content: center;
}

.logo {
    padding-right: 10px;
}

.search {
    flex-grow: 1;
    position: relative;
}

.search__button {
    position: absolute;
    font-size: 16px;
    top: 12px;
    left: 12px;
    color: #b0b3b8;
    font-weight: 400 !important;
}

.search__input {
    background-color: var(--bg-input);
    height: 40px;
    border-radius: 25px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    padding-left: 35px;
    padding-right: 20px;
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
}

.search__input::placeholder {
    color: var(--fill-color);
}

svg {
    fill: var(--fill-color);
}

.relative {
    position: relative;
}

.number__notices {
    position: absolute;
    color: var(--text-color);
    background-color: #f02849;
    padding-bottom: 1px;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 6px;
    font-weight: 600;
    border-radius: 9px;
    top: -23px;
    right: -18px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-stretch: unset;
}